SERVER_PORT=8082

# ========== SonarQube Variables ==========
SONAR_TOKEN=sonar_token
SONAR_HOST_URL=sonar_host_url

# ========== Neo4j Database Configuration ==========
NEO4J_URI=bolt://localhost:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=password

# ========== PostgreSQL ==========
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/risk
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=password

# ========== Risk Weights ==========
RISK_WEIGHT_DELAY=0.1
RISK_WEIGHT_WEATHER=0.2
RISK_WEIGHT_VENDOR_HISTORY=0.3
RISK_WEIGHT_DOCUMENT_ERRORS=0.4
